* {
    box-sizing: border-box;
  }

  body {
    font-family: Arial;
    padding: 10px;
    background: #f1f1f1;
  }

  .header h1 {
    font-size: 50px;
  }

.header {
    padding: 10px;
    text-align: center;
    background: white;
    color: black;
  }

  .topnav {
    overflow: hidden;
    background-color: #333;
  }

  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  .leftcolumn {   
    float: left;
    width: 100%;
  }

  .row::after {
    content: "";
    display: table;
    clear: both;
  }

  .card {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
  }
  .rightcolumn {
    float: left;
    width: 25%;
    background-color: #f1f1f1;
    padding-left: 20px;
  }

  .footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
    margin-top: 20px;
  }

  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }

